<div class="container">
    <div class="card main">
        <div class="card-body menu">
          <h4 style="text-align: center;">Dashboard</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 16rem;">
                <img src="assets/order.png" class="card-img-top" height="150px" width="50px" alt="order">
                <div class="card-body">
                    <h5 class="card-title">Grocery Orders</h5>
                    <p class="card-text">Enter and view grocery orders that will be put into a fridge, freezer, pantry, etc.</p>
                    <a href="/order" class="btn btn-primary">Create/View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 16rem;">
                <img src="assets/item.png" class="card-img-top" height="175px" width="50px" alt="item">
                <div class="card-body">
                    <h5 class="card-title">Storage and Items</h5>
                    <p class="card-text">View items that are in a fridge, freezer, pantry, etc.</p>
                    <a href="#" class="btn btn-primary">View Items</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 16rem;">
                <img src="assets/home.png" class="card-img-top" height="175px" width="50px" alt="home">
                <div class="card-body">
                    <h5 class="card-title">House Management</h5>
                    <p class="card-text">Create and edit storage units in the house</p>
                    <a href="#" class="btn btn-primary">Manage</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 16rem;">
                <img src="assets/user.png" class="card-img-top" height="175px" width="50px" alt="user">
                <div class="card-body">
                    <h5 class="card-title">User Management</h5>
                    <p class="card-text">View and manage people in a house</p>
                    <a href="#" class="btn btn-primary">Manage</a>
                </div>
            </div>
        </div>
    </div>
</div>
