<div class="container">
    <div class="card main">
        <div class="card-body menu">
          <h4 style="text-align: center;">Dashboard</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="assets/order.png" class="card-img-top" height="250px" width="50px" alt="order">
                <div class="card-body">
                    <h5 class="card-title">Grocery Orders</h5>
                    <p class="card-text">Enter and view grocery orders that will be put into a fridge, freezer, pantry, etc.</p>
                    <a href="/order" class="btn btn-primary">Create/View</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="assets/item.png" class="card-img-top" height="250px" width="50px" alt="item">
                <div class="card-body">
                    <h5 class="card-title">Storage and Items</h5>
                    <p class="card-text">Put items into a storage unti as well as view items that are in a fridge, freezer, pantry, etc.</p>
                    <a href="/item" class="btn btn-primary">View Items</a>
                </div>
            </div>
        </div>
    </div>
</div>
