.container{
    height: 100%;
    align-content: center;
    margin-top: 5em;
}

.card{
    height: 380px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}
    

.cancel-button {
    margin-left: 10px;
}
    
.card-header h3{
    color: white;
}
    
    
.input-group-prepend span{
    width: 50px;
    background-color: #2196F3;
    color: white;
    border:0 !important;
}
    
input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
}
    
.remember{
    color: white;
}
    
.remember input{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}
    
.login_btn{
    color: white;
    background-color: #2196F3;
    width: 100px;
}
    
.login_btn:hover{
    color: black;
    background-color: white;
}


.links{
    color: white;
}
    
.links a{
    margin-left: 4px;
}